* {
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    padding: 32px 0;
}

img {
    width: 100%;
    display: block;
}

h1,h2,h3 {
    margin: 0 0 12px;
    line-height: 1.3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.header {
    background: #000000;
    color: white;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 16px;
}

.nav-list {
    display: flex;
    gap: 16px;
    list-style: none;
}

.nav-list a {
    padding: 8px 10px;
    border-radius: 6px;
}

.nav-list a:hover {
    background: rgba(230, 230, 230, 0.2)
}

.welcome {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
}