/* reset.css */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline ;
  box-sizing: border-box; /* padding/border 포함 크기 계산 */
}

body {
  line-height: 1.5;
  font-family: system-ui, -apple-system, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}